.fa {
  color: #ffa500;
  margin-bottom: 1rem;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 3rem;
  margin: 50px 50px;
}

.recipe-card {
  width: 100%;
  height: 500px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-bottom: 10vh;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.50s ease;
  
}

.recipe-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.recipe-card:hover {
	transform: scale(1.1);
}

.recipe-card-content {
  padding: 1rem;
}

.recipe-card-content h2 {
  font-family: Raleway;
  font-weight: 700;
  font-size: 1.2rem; 
  margin-bottom: 0.3rem;
}

.recipe-card-content p {
  font-family: Raleway;
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
  color: rgb(98, 98, 98);
  margin-bottom: 0;
}

.recipe-card-content .prep-cook-info {
  font-style: normal;
  color: #000;
  margin-bottom: 1rem;
}

/* Recipe- Grid Responsive Layout */
@media (max-width: 480px) {
  .recipe-card {
    width: 100%;
    height: 550px;
  }
  .recipe-card-content h2 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 20px; 
    margin-bottom: 0.3rem;
  }
  
  .recipe-card-content p {
    font-family: Raleway;
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    color: rgb(98, 98, 98);
    margin-bottom: 0;
  }
  
}

@media (max-width: 768px) {
  .recipe-card {
    width: 100%;
    height: 600px;
  }

  .recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin: 20px 20px;
  }

  .recipe-card-content h2 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 30px; 
    margin-bottom: 0.3rem;
  }
  
  .recipe-card-content p {
    font-family: Raleway;
    font-weight: 400;
    font-style: italic;
    font-size: 25pxpx;
    color: rgb(98, 98, 98);
    margin-bottom: 0;
  } 
}

@media (max-width: 1020px) {
  .recipe-card {
    width: 100%;
    height: 600px;
  }

  .recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin: 20px 20px;
  }

  .recipe-card-content h2 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 30px; 
    margin-bottom: 0.3rem;
  }
  
  .recipe-card-content p {
    font-family: Raleway;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    color: rgb(98, 98, 98);
    margin-bottom: 0;
  }
  
}

